In [ ]:
-----World's Oldest Businesses Dataset------

BusinessFinancing.co.uk researched the oldest company that is still in 
business in (almost) every country and compiled the results into a dataset. 
In this project, you'll explore that dataset to see what they found.

This dataset contains three tables: 1)businesses
									2)categories
									3)countries

----Questions answered using World's Oldest Businesses Dataset:

1. What is the range of the founding years throughout the World?
2. How many businesses were founded before the year 1000?
3. Which businesses were founded before the year 1000?
4. What category of businesses are those that have lasted over a millennium?
5. What other industries constitute the oldest companies around the World, 
	and which industries are most common?
6. How old the oldest business is on each continent?
7. Which are the most common categories for the oldest businesses on each continent?
8. Which are the continent/category pairs with a high count i.e. >5?
9. Combine all three tables together to make viewing all columns easier.

In [2]:
%%sql 
postgresql:///oldestbusinesses

'Connected: @oldestbusinesses'

In [ ]:
SELECT *
FROM countries;

SELECT * 
FROM businesses;

SELECT * 
FROM categories;

--Data cleaning

UPDATE categories
SET category = 'Cafes, Restaurants & Bars'
WHERE category_code = 'CAT4';

UPDATE categories
SET category = 'Distillers, Vineries, & Breweries'
WHERE category_code = 'CAT9';

--removing " from start of strings
SELECT country, TRIM('"' FROM country)
FROM countries
WHERE country LIKE'"%';

UPDATE countries
SET country = TRIM('"' FROM country)
WHERE country LIKE'"%';

--checking
SELECT country
FROM countries
WHERE country LIKE'"%';

--removing " and , from continent col. in countries
SELECT continent , REPLACE(REPLACE(continent, ',', ' '), '"', '')
FROM countries
WHERE continent LIKE '%"%,%';   -- this method worked

UPDATE countries
SET continent = REPLACE(REPLACE(continent, ',', ' '), '"', '')
WHERE continent LIKE '%"%,%';

--check for update
SELECT country
FROM countries
WHERE country LIKE'"%'; 


--cleaning continents col.
SELECT CASE WHEN continent LIKE '%Asia%' THEN 'Asia'
			WHEN continent LIKE '%Africa%' THEN 'Africa'
			WHEN continent LIKE '%Europe%' THEN 'Europe'
			WHEN continent LIKE '%North America%' THEN 'North America'
			WHEN continent LIKE '%Oceania%' THEN 'Oceania'
			WHEN continent LIKE '%South America%' THEN 'South America'
			END as continent
FROM countries;

UPDATE countries
SET continent = (CASE WHEN continent LIKE '%Asia%' THEN 'Asia'
			WHEN continent LIKE '%Africa%' THEN 'Africa'
			WHEN continent LIKE '%Europe%' THEN 'Europe'
			WHEN continent LIKE '%North America%' THEN 'North America'
			WHEN continent LIKE '%Oceania%' THEN 'Oceania'
			WHEN continent LIKE '%South America%' THEN 'South America'
			END )

SELECT DISTINCT continent 
from countries

--SQL queries

-- 1. What is the range of the founding years throughout the World?

In [4]:
%%sql

SELECT MIN(CAST(year_founded AS int)) AS min, 
       MAX(CAST(year_founded AS int)) AS max
FROM businesses;

 * postgresql:///oldestbusinesses
1 rows affected.

[(578, 1999)]

-- Answer: Founding years ranges from year 578, being the oldest to year 1999 as the latest.

--2. How many businesses were founded before the year 1000?

In [5]:
%%sql

SELECT COUNT(business)
FROM businesses
WHERE year_founded < 1000;

 * postgresql:///oldestbusinesses
1 rows affected.

[(6,)]

--Answer: There is a total of 6 businesses that were founded before the year1000, they span across a millennium.

--3. Which businesses were founded before the year 1000?

In [6]:
%%sql

SELECT business, year_founded
FROM businesses
WHERE year_founded < 1000;

 * postgresql:///oldestbusinesses
6 rows affected.

[('Kongō Gumi', 578),
 ('St. Peter Stifts Kulinarium', 803),
 ('The Royal Mint', 886),
 ('Monnaie de Paris\xa0', 864),
 ('Staffelter\xa0Hof Winery', 862),
 ("Sean's Bar", 900)]

--4. What category of businesses are those that have lasted over a millennium?

In [19]:
%%sql

SELECT business, category, country_code,
	   (EXTRACT(YEAR FROM NOW()) - year_founded) AS no_years_in_business
FROM categories AS cat
INNER JOIN businesses AS b
ON b.category_code = cat.category_code
WHERE year_founded < 1000
ORDER BY no_years_in_business DESC;

 * postgresql:///oldestbusinesses
6 rows affected.

[('Kongō Gumi', 'Construction', 'JPN', 1446.0),
 ('St. Peter Stifts Kulinarium', 'Cafes, Restaurants & Bars', 'AUT', 1221.0),
 ('Staffelter\xa0Hof Winery', 'Distillers, Vineries, & Breweries', 'DEU', 1162.0),
 ('Monnaie de Paris\xa0', 'Manufacturing & Production', 'FRA', 1160.0),
 ('The Royal Mint', 'Manufacturing & Production', 'GBR', 1138.0),
 ("Sean's Bar", 'Cafes, Restaurants & Bars', 'IRL', 1124.0)]

--5. What other industries constitute the oldest companies around the World, 
--	and which industries are most common?

In [20]:
%%sql

SELECT category, COUNT(b.category_code) AS count
FROM categories AS cat
INNER JOIN businesses AS b
ON b.category_code = cat.category_code
GROUP BY cat.category
ORDER BY count DESC;

 * postgresql:///oldestbusinesses
19 rows affected.

[('Banking & Finance', 37),
 ('Distillers, Vineries, & Breweries', 22),
 ('Aviation & Transport', 19),
 ('Postal Service', 16),
 ('Manufacturing & Production', 15),
 ('Media', 7),
 ('Agriculture', 6),
 ('Food & Beverages', 6),
 ('Cafes, Restaurants & Bars', 6),
 ('Retail', 4),
 ('Energy', 4),
 ('Tourism & Hotels', 4),
 ('Mining', 3),
 ('Defense', 3),
 ('Consumer Goods', 3),
 ('Conglomerate', 3),
 ('Construction', 2),
 ('Telecommunications', 2),
 ('Medical', 1)]

-- 6. How old the oldest business is on each continent?

In [21]:
%%sql

SELECT continent, MIN(CAST(year_founded AS int)) AS oldest_business
FROM countries AS c
INNER JOIN businesses AS b
ON b.country_code = c.country_code
GROUP BY continent
ORDER BY oldest_business;

 * postgresql:///oldestbusinesses
6 rows affected.

[('Asia', 578),
 ('Europe', 803),
 ('North America', 1534),
 ('South America', 1565),
 ('Africa', 1772),
 ('Oceania', 1809)]

--7. Which are the most common categories for the oldest businesses on each continent?

In [23]:
%%sql

SELECT continent, category,  COUNT(b.category_code) AS count
FROM countries AS c
INNER JOIN businesses AS b
ON c.country_code = b.country_code
INNER JOIN categories AS cat
ON cat.category_code = b.category_code
GROUP BY continent, category
ORDER BY continent, count DESC;

 * postgresql:///oldestbusinesses
56 rows affected.

[('Africa', 'Banking & Finance', 17),
 ('Africa', 'Aviation & Transport', 10),
 ('Africa', 'Postal Service', 9),
 ('Africa', 'Media', 4),
 ('Africa', 'Agriculture', 3),
 ('Africa', 'Distillers, Vineries, & Breweries', 3),
 ('Africa', 'Mining', 1),
 ('Africa', 'Food & Beverages', 1),
 ('Africa', 'Manufacturing & Production', 1),
 ('Africa', 'Energy', 1),
 ('Asia', 'Aviation & Transport', 7),
 ('Asia', 'Banking & Finance', 6),
 ('Asia', 'Cafes, Restaurants & Bars', 3),
 ('Asia', 'Conglomerate', 3),
 ('Asia', 'Manufacturing & Production', 3),
 ('Asia', 'Retail', 3),
 ('Asia', 'Energy', 3),
 ('Asia', 'Distillers, Vineries, & Breweries', 2),
 ('Asia', 'Food & Beverages', 2),
 ('Asia', 'Construction', 2),
 ('Asia', 'Postal Service', 2),
 ('Asia', 'Defense', 1),
 ('Asia', 'Media', 1),
 ('Asia', 'Telecommunications', 1),
 ('Asia', 'Agriculture', 1),
 ('Asia', 'Mining', 1),
 ('Asia', 'Tourism & Hotels', 1),
 ('Europe', 'Distillers, Vineries, & Breweries', 12),
 ('Europe', 'Manufacturing & Production', 8),
 ('Europe', 'Banking & Finance', 5),
 ('Europe', 'Postal Service', 4),
 ('Europe', 'Consumer Goods', 3),
 ('Europe', 'Cafes, Restaurants & Bars', 2),
 ('Europe', 'Tourism & Hotels', 2),
 ('Europe', 'Mining', 1),
 ('Europe', 'Agriculture', 1),
 ('Europe', 'Media', 1),
 ('Europe', 'Medical', 1),
 ('Europe', 'Defense', 1),
 ('Europe', 'Telecommunications', 1),
 ('North America', 'Distillers, Vineries, & Breweries', 5),
 ('North America', 'Banking & Finance', 4),
 ('North America', 'Aviation & Transport', 2),
 ('North America', 'Retail', 1),
 ('North America', 'Tourism & Hotels', 1),
 ('North America', 'Agriculture', 1),
 ('North America', 'Manufacturing & Production', 1),
 ('North America', 'Food & Beverages', 1),
 ('North America', 'Media', 1),
 ('Oceania', 'Banking & Finance', 2),
 ('Oceania', 'Postal Service', 1),
 ('South America', 'Banking & Finance', 3),
 ('South America', 'Food & Beverages', 2),
 ('South America', 'Manufacturing & Production', 2),
 ('South America', 'Cafes, Restaurants & Bars', 1),
 ('South America', 'Defense', 1)]

--8. Which are the continent/category pairs with a high count i.e. >5?

In [24]:
%%sql 

SELECT continent, category,  COUNT(b.category_code) AS count
FROM countries AS c
INNER JOIN businesses AS b
ON c.country_code = b.country_code
INNER JOIN categories AS cat
ON cat.category_code = b.category_code
GROUP BY continent, category
HAVING COUNT(b.category_code) > 5
ORDER BY count DESC;

 * postgresql:///oldestbusinesses
7 rows affected.

[('Africa', 'Banking & Finance', 17),
 ('Europe', 'Distillers, Vineries, & Breweries', 12),
 ('Africa', 'Aviation & Transport', 10),
 ('Africa', 'Postal Service', 9),
 ('Europe', 'Manufacturing & Production', 8),
 ('Asia', 'Aviation & Transport', 7),
 ('Asia', 'Banking & Finance', 6)]

--9. Combine all three tables together to make viewing all columns easier.

In [25]:
%%sql 

SELECT *
FROM countries AS c
INNER JOIN businesses AS b
ON c.country_code = b.country_code
INNER JOIN categories AS cat
ON cat.category_code = b.category_code;

 * postgresql:///oldestbusinesses
163 rows affected.

[('AFG', 'Afghanistan', 'Asia', 'Spinzar Cotton Company', 1930, 'CAT1', 'AFG', 'CAT1', 'Agriculture'),
 ('ALB', 'Albania', 'Europe', 'ALBtelecom', 1912, 'CAT18', 'ALB', 'CAT18', 'Telecommunications'),
 ('AND', 'Andorra', 'Europe', 'Andbank', 1930, 'CAT3', 'AND', 'CAT3', 'Banking & Finance'),
 ('ARE', 'United Arab Emirates', 'Asia', 'Liwa Chemicals', 1939, 'CAT12', 'ARE', 'CAT12', 'Manufacturing & Production'),
 ('ARG', 'Argentina', 'South America', 'Bank of the Province of Buenos Aires', 1822, 'CAT3', 'ARG', 'CAT3', 'Banking & Finance'),
 ('ARM', 'Armenia', 'Asia', 'Yerevan Ararat Brandy-Wine-Vodka Factory', 1877, 'CAT9', 'ARM', 'CAT9', 'Distillers, Vineries, & Breweries'),
 ('AUS', 'Australia', 'Oceania', 'Australia Post', 1809, 'CAT16', 'AUS', 'CAT16', 'Postal Service'),
 ('AUT', 'Austria', 'Europe', 'St. Peter Stifts Kulinarium', 803, 'CAT4', 'AUT', 'CAT4', 'Cafes, Restaurants & Bars'),
 ('AZE', 'Azerbaijan', 'Asia', 'Azerbaijan Caspian Shipping Company', 1858, 'CAT2', 'AZE', 'CAT2', 'Aviation & Transport'),
 ('BDI', 'Burundi', 'Africa', 'Brarudi', 1955, 'CAT9', 'BDI', 'CAT9', 'Distillers, Vineries, & Breweries'),
 ('BEL', 'Belgium', 'Europe', 'Affligem Brewery', 1074, 'CAT9', 'BEL', 'CAT9', 'Distillers, Vineries, & Breweries'),
 ('BEN', 'Benin', 'Africa', 'Communauté Électrique du Bénin', 1968, 'CAT10', 'BEN', 'CAT10', 'Energy'),
 ('BFA', 'Burkina Faso', 'Africa', 'Air Burkina', 1967, 'CAT2', 'BFA', 'CAT2', 'Aviation & Transport'),
 ('BGD', 'Bangladesh', 'Asia', 'M. M. Ispahani Limited', 1820, 'CAT11', 'BGD', 'CAT11', 'Food & Beverages'),
 ('BGR', 'Bulgaria', 'Europe', 'Arsenal AD', 1878, 'CAT8', 'BGR', 'CAT8', 'Defense'),
 ('BHR', 'Bahrain', 'Asia', 'BMMI', 1883, 'CAT17', 'BHR', 'CAT17', 'Retail'),
 ('BIH', 'Bosnia and Herzegovina', 'Europe', 'Sarajevska Pivara', 1864, 'CAT9', 'BIH', 'CAT9', 'Distillers, Vineries, & Breweries'),
 ('BLR', 'Belarus', 'Europe', 'Olivaria Brewery', 1864, 'CAT9', 'BLR', 'CAT9', 'Distillers, Vineries, & Breweries'),
 ('BLZ', 'Belize', 'North America', 'Belize Bank', 1902, 'CAT3', 'BLZ', 'CAT3', 'Banking & Finance'),
 ('BOL', 'Bolivia, Plurinational State of', 'South America', 'Banco Nacional de Bolivia', 1871, 'CAT3', 'BOL', 'CAT3', 'Banking & Finance'),
 ('BRA', 'Brazil', 'South America', 'Casa da Moeda do Brasil', 1694, 'CAT12', 'BRA', 'CAT12', 'Manufacturing & Production'),
 ('BRB', 'Barbados', 'North America', 'Mount Gay Rum', 1703, 'CAT9', 'BRB', 'CAT9', 'Distillers, Vineries, & Breweries'),
 ('BRN', 'Brunei Darussalam', 'Asia', 'Hua Ho Department Store', 1947, 'CAT17', 'BRN', 'CAT17', 'Retail'),
 ('BTN', 'Bhutan', 'Asia', 'Tashi Group', 1959, 'CAT2', 'BTN', 'CAT2', 'Aviation & Transport'),
 ('BWA', 'Botswana', 'Africa', 'Botswana Meat Commission', 1965, 'CAT1', 'BWA', 'CAT1', 'Agriculture'),
 ('CAF', 'Central African Republic', 'Africa', 'Banque Internationale pour la Centrafrique', 1946, 'CAT3', 'CAF', 'CAT3', 'Banking & Finance'),
 ('CAN', 'Canada', 'North America', "Hudson's Bay Company", 1670, 'CAT17', 'CAN', 'CAT17', 'Retail'),
 ('CHE', 'Switzerland', 'Europe', 'Gasthof Sternen', 1230, 'CAT19', 'CHE', 'CAT19', 'Tourism & Hotels'),
 ('CHL', 'Chile', 'South America', 'Famae', 1811, 'CAT8', 'CHL', 'CAT8', 'Defense'),
 ('CHN', 'China', 'Asia', "Ma Yu Ching's Bucket Chicken House", 1153, 'CAT4', 'CHN', 'CAT4', 'Cafes, Restaurants & Bars'),
 ('CIV', "Côte d'Ivoire", 'Africa', 'La Poste', 1945, 'CAT16', 'CIV', 'CAT16', 'Postal Service'),
 ('CMR', 'Cameroon', 'Africa', 'Cameroon Development Corporation', 1947, 'CAT1', 'CMR', 'CAT1', 'Agriculture'),
 ('COD', 'Congo, The Democratic Republic of the', 'Africa', 'Société nationale des Chemins de fer du Congo', 1889, 'CAT2', 'COD', 'CAT2', 'Aviation & Transport'),
 ('COG', 'Congo', 'Africa', 'Development Bank of the Central African States', 1975, 'CAT3', 'COG', 'CAT3', 'Banking & Finance'),
 ('COL', 'Colombia', 'South America', 'Casa de Moneda de Colombia', 1621, 'CAT12', 'COL', 'CAT12', 'Manufacturing & Production'),
 ('COM', 'Comoros', 'Africa', 'Central Bank of the Comoros', 1981, 'CAT3', 'COM', 'CAT3', 'Banking & Finance'),
 ('CPV', 'Cabo Verde', 'Africa', 'Correios de Cabo Verde', 1849, 'CAT16', 'CPV', 'CAT16', 'Postal Service'),
 ('CRI', 'Costa Rica', 'North America', 'Florida Ice and Farm Company', 1908, 'CAT9', 'CRI', 'CAT9', 'Distillers, Vineries, & Breweries'),
 ('CUB', 'Cuba', 'North America', 'Cubana de Aviación', 1929, 'CAT2', 'CUB', 'CAT2', 'Aviation & Transport'),
 ('CYP', 'Cyprus', 'Europe', 'Bank of Cyprus', 1899, 'CAT3', 'CYP', 'CAT3', 'Banking & Finance'),
 ('CZE', 'Czechia', 'Europe', 'Pivovar Broumov', 1348, 'CAT9', 'CZE', 'CAT9', 'Distillers, Vineries, & Breweries'),
 ('DEU', 'Germany', 'Europe', 'Staffelter\xa0Hof Winery', 862, 'CAT9', 'DEU', 'CAT9', 'Distillers, Vineries, & Breweries'),
 ('DJI', 'Djibouti', 'Africa', 'Ethio-Djibouti Railways', 1901, 'CAT2', 'DJI', 'CAT2', 'Aviation & Transport'),
 ('DMA', 'Dominica', 'North America', 'The Chronicle (Dominica)', 1909, 'CAT13', 'DMA', 'CAT13', 'Media'),
 ('DNK', 'Denmark', 'Europe', 'Munke Mølle', 1135, 'CAT12', 'DNK', 'CAT12', 'Manufacturing & Production'),
 ('DZA', 'Algeria', 'Africa', 'Hamoud Boualem', 1878, 'CAT11', 'DZA', 'CAT11', 'Food & Beverages'),
 ('EGY', 'Egypt', 'Africa', 'Egyptian National Railways', 1854, 'CAT2', 'EGY', 'CAT2', 'Aviation & Transport'),
 ('ERI', 'Eritrea', 'Africa', 'Asmara Brewery', 1939, 'CAT9', 'ERI', 'CAT9', 'Distillers, Vineries, & Breweries'),
 ('ESP', 'Spain', 'Europe', 'Casa de Ganaderos', 1218, 'CAT1', 'ESP', 'CAT1', 'Agriculture'),
 ('EST', 'Estonia', 'Europe', 'Raeapteek', 1422, 'CAT14', 'EST', 'CAT14', 'Medical'),
 ('ETH', 'Ethiopia', 'Africa', 'National Bank of Ethiopia', 1906, 'CAT3', 'ETH', 'CAT3', 'Banking & Finance'),
 ('FIN', 'Finland', 'Europe', 'Fiskars', 1649, 'CAT7', 'FIN', 'CAT7', 'Consumer Goods'),
 ('FRA', 'France', 'Europe', 'Monnaie de Paris\xa0', 864, 'CAT12', 'FRA', 'CAT12', 'Manufacturing & Production'),
 ('GAB', 'Gabon', 'Africa', 'BGFIBank Group', 1971, 'CAT3', 'GAB', 'CAT3', 'Banking & Finance'),
 ('GBR', 'United Kingdom', 'Europe', 'The Royal Mint', 886, 'CAT12', 'GBR', 'CAT12', 'Manufacturing & Production'),
 ('GEO', 'Georgia', 'Asia', 'Bank of Georgia', 1903, 'CAT3', 'GEO', 'CAT3', 'Banking & Finance'),
 ('GIN', 'Guinea', 'Africa', 'Halco Mining', 1962, 'CAT15', 'GIN', 'CAT15', 'Mining'),
 ('GNB', 'Guinea-Bissau', 'Africa', 'Correios da Guiné-Bissau', 1973, 'CAT16', 'GNB', 'CAT16', 'Postal Service'),
 ('GNQ', 'Equatorial Guinea', 'Africa', 'Guinea Ecuatorial Airlines', 1996, 'CAT2', 'GNQ', 'CAT2', 'Aviation & Transport'),
 ('GRC', 'Greece', 'Europe', 'Piraeus Bank', 1606, 'CAT3', 'GRC', 'CAT3', 'Banking & Finance'),
 ('GTM', 'Guatemala', 'North America', 'Corporación Multi Inversiones', 1920, 'CAT11', 'GTM', 'CAT11', 'Food & Beverages'),
 ('GUY', 'Guyana', 'South America', 'Banks DIH', 1840, 'CAT11', 'GUY', 'CAT11', 'Food & Beverages'),
 ('HND', 'Honduras', 'North America', 'National Railroad of Honduras', 1870, 'CAT2', 'HND', 'CAT2', 'Aviation & Transport'),
 ('HRV', 'Croatia', 'Europe', 'Kraljevica Shipyard', 1729, 'CAT12', 'HRV', 'CAT12', 'Manufacturing & Production'),
 ('HTI', 'Haiti', 'North America', 'Rhum Barbancourt', 1862, 'CAT9', 'HTI', 'CAT9', 'Distillers, Vineries, & Breweries'),
 ('HUN', 'Hungary', 'Europe', 'Zwack', 1790, 'CAT9', 'HUN', 'CAT9', 'Distillers, Vineries, & Breweries'),
 ('IDN', 'Indonesia', 'Asia', 'Pindad', 1808, 'CAT8', 'IDN', 'CAT8', 'Defense'),
 ('IND', 'India', 'Asia', 'Wadia Group', 1736, 'CAT12', 'IND', 'CAT12', 'Manufacturing & Production'),
 ('IRL', 'Ireland', 'Europe', "Sean's Bar", 900, 'CAT4', 'IRL', 'CAT4', 'Cafes, Restaurants & Bars'),
 ('IRQ', 'Iraq', 'Asia', 'North Oil Company', 1928, 'CAT10', 'IRQ', 'CAT10', 'Energy'),
 ('ISL', 'Iceland', 'Europe', 'Íslandspóstur', 1776, 'CAT16', 'ISL', 'CAT16', 'Postal Service'),
 ('ISR', 'Israel', 'Asia', 'Café Abu Salem', 1914, 'CAT4', 'ISR', 'CAT4', 'Cafes, Restaurants & Bars'),
 ('ITA', 'Italy', 'Europe', 'Marinelli Bell Foundry', 1040, 'CAT12', 'ITA', 'CAT12', 'Manufacturing & Production'),
 ('JAM', 'Jamaica', 'North America', 'Rose Hall', 1770, 'CAT19', 'JAM', 'CAT19', 'Tourism & Hotels'),
 ('JOR', 'Jordan', 'Asia', 'Arab Bank', 1930, 'CAT3', 'JOR', 'CAT3', 'Banking & Finance'),
 ('JPN', 'Japan', 'Asia', 'Kongō Gumi', 578, 'CAT6', 'JPN', 'CAT6', 'Construction'),
 ('KAZ', 'Kazakhstan', 'Asia', 'Bogatyr Access Komir', 1913, 'CAT15', 'KAZ', 'CAT15', 'Mining'),
 ('KEN', 'Kenya', 'Africa', 'KCB Group Limited', 1896, 'CAT3', 'KEN', 'CAT3', 'Banking & Finance'),
 ('KHM', 'Cambodia', 'Asia', 'National Bank of Cambodia', 1954, 'CAT3', 'KHM', 'CAT3', 'Banking & Finance'),
 ('KOR', 'Korea, Republic of', 'Asia', 'KT Corporation', 1885, 'CAT18', 'KOR', 'CAT18', 'Telecommunications'),
 ('KWT', 'Kuwait', 'Asia', 'M.H. Alshaya Co.', 1890, 'CAT17', 'KWT', 'CAT17', 'Retail'),
 ('LAO', "Lao People's Democratic Republic", 'Asia', 'Electricite du Laos', 1959, 'CAT10', 'LAO', 'CAT10', 'Energy'),
 ('LBN', 'Lebanon', 'Asia', 'Bank Audi', 1830, 'CAT3', 'LBN', 'CAT3', 'Banking & Finance'),
 ('LBR', 'Liberia', 'Africa', 'National Port Authority', 1921, 'CAT2', 'LBR', 'CAT2', 'Aviation & Transport'),
 ('LBY', 'Libya', 'Africa', 'Umma Bank', 1907, 'CAT3', 'LBY', 'CAT3', 'Banking & Finance'),
 ('LCA', 'Saint Lucia', 'North America', '1st National Bank of St Lucia', 1938, 'CAT3', 'LCA', 'CAT3', 'Banking & Finance'),
 ('LIE', 'Liechtenstein', 'Europe', 'National Bank of Liechtenstein', 1861, 'CAT3', 'LIE', 'CAT3', 'Banking & Finance'),
 ('LKA', 'Sri Lanka', 'Asia', 'George Steuart Group', 1835, 'CAT11', 'LKA', 'CAT11', 'Food & Beverages'),
 ('LSO', 'Lesotho', 'Africa', 'Central Bank of Lesotho', 1978, 'CAT3', 'LSO', 'CAT3', 'Banking & Finance'),
 ('LTU', 'Lithuania', 'Europe', 'Gubernija', 1665, 'CAT9', 'LTU', 'CAT9', 'Distillers, Vineries, & Breweries'),
 ('LUX', 'Luxembourg', 'Europe', 'Mousel', 1511, 'CAT9', 'LUX', 'CAT9', 'Distillers, Vineries, & Breweries'),
 ('LVA', 'Latvia', 'Europe', 'Cēsu Alus', 1590, 'CAT9', 'LVA', 'CAT9', 'Distillers, Vineries, & Breweries'),
 ('MAR', 'Morocco', 'Africa', 'Attijariwafa Bank', 1904, 'CAT3', 'MAR', 'CAT3', 'Banking & Finance'),
 ('MDG', 'Madagascar', 'Africa', 'Air Madagascar', 1962, 'CAT2', 'MDG', 'CAT2', 'Aviation & Transport'),
 ('MEX', 'Mexico', 'North America', 'La Casa de Moneda de México', 1534, 'CAT12', 'MEX', 'CAT12', 'Manufacturing & Production'),
 ('MKD', 'North Macedonia', 'Europe', 'Tutunski kombinat Prilep', 1873, 'CAT7', 'MKD', 'CAT7', 'Consumer Goods'),
 ('MLI', 'Mali', 'Africa', 'Office de Radiodiffusion-Télévision du Mali', 1957, 'CAT13', 'MLI', 'CAT13', 'Media'),
 ('MLT', 'Malta', 'Europe', 'HSBC Bank Malta', 1882, 'CAT3', 'MLT', 'CAT3', 'Banking & Finance'),
 ('MMR', 'Myanmar', 'Asia', 'Myanmar National Airlines', 1948, 'CAT2', 'MMR', 'CAT2', 'Aviation & Transport'),
 ('MNE', 'Montenegro', 'Europe', 'Pošta Crne Gore', 1841, 'CAT16', 'MNE', 'CAT16', 'Postal Service'),
 ('MNG', 'Mongolia', 'Asia', 'Mongolian National Broadcaster', 1931, 'CAT13', 'MNG', 'CAT13', 'Media'),
 ('MOZ', 'Mozambique', 'Africa', 'Beira Railroad Corporation', 1892, 'CAT2', 'MOZ', 'CAT2', 'Aviation & Transport'),
 ('MRT', 'Mauritania', 'Africa', 'Central Bank of Mauritania', 1973, 'CAT3', 'MRT', 'CAT3', 'Banking & Finance'),
 ('MUS', 'Mauritius', 'Africa', 'Mauritius Post', 1772, 'CAT16', 'MUS', 'CAT16', 'Postal Service'),
 ('MWI', 'Malawi', 'Africa', 'Malawi Broadcasting Corporation', 1964, 'CAT13', 'MWI', 'CAT13', 'Media'),
 ('MYS', 'Malaysia', 'Asia', 'Pos Malaysia', 1800, 'CAT16', 'MYS', 'CAT16', 'Postal Service'),
 ('NAM', 'Namibia', 'Africa', 'NamPost', 1814, 'CAT16', 'NAM', 'CAT16', 'Postal Service'),
 ('NER', 'Niger', 'Africa', 'Office of Radio and Television of Niger', 1960, 'CAT13', 'NER', 'CAT13', 'Media'),
 ('NGA', 'Nigeria', 'Africa', 'First Bank of Nigeria', 1894, 'CAT3', 'NGA', 'CAT3', 'Banking & Finance'),
 ('NIC', 'Nicaragua', 'North America', 'Flor de Caña', 1890, 'CAT9', 'NIC', 'CAT9', 'Distillers, Vineries, & Breweries'),
 ('NLD', 'Netherlands', 'Europe', 'The Brand Brewery', 1340, 'CAT9', 'NLD', 'CAT9', 'Distillers, Vineries, & Breweries'),
 ('NOR', 'Norway', 'Europe', 'Posten Norge', 1647, 'CAT16', 'NOR', 'CAT16', 'Postal Service'),
 ('NPL', 'Nepal', 'Asia', 'Nepal Bank Limited', 1937, 'CAT3', 'NPL', 'CAT3', 'Banking & Finance'),
 ('NZL', 'New Zealand', 'Oceania', 'Bank of New Zealand', 1861, 'CAT3', 'NZL', 'CAT3', 'Banking & Finance'),
 ('OMN', 'Oman', 'Asia', 'Petroleum Development Oman', 1937, 'CAT10', 'OMN', 'CAT10', 'Energy'),
 ('PAK', 'Pakistan', 'Asia', 'House of Habib', 1841, 'CAT5', 'PAK', 'CAT5', 'Conglomerate'),
 ('PAN', 'Panama', 'North America', 'National Bank of Panama', 1904, 'CAT3', 'PAN', 'CAT3', 'Banking & Finance'),
 ('PER', 'Peru', 'South America', 'Casa Nacional de Moneda', 1565, 'CAT3', 'PER', 'CAT3', 'Banking & Finance'),
 ('PHL', 'Philippines', 'Asia', 'Destileria Limtuaco', 1853, 'CAT9', 'PHL', 'CAT9', 'Distillers, Vineries, & Breweries'),
 ('POL', 'Poland', 'Europe', 'Bochnia Salt Mine', 1248, 'CAT15', 'POL', 'CAT15', 'Mining'),
 ('PRK', "Korea, Democratic People's Republic of", 'Asia', "Kim Chong-t'ae Electric Locomotive Works", 1945, 'CAT2', 'PRK', 'CAT2', 'Aviation & Transport'),
 ('PRT', 'Portugal', 'Europe', 'CTT-Correios de Portugal SA', 1520, 'CAT16', 'PRT', 'CAT16', 'Postal Service'),
 ('QAT', 'Qatar', 'Asia', 'Salam International Investment Limited', 1952, 'CAT5', 'QAT', 'CAT5', 'Conglomerate'),
 ('ROU', 'Romania', 'Europe', 'Ursus Breweries', 1878, 'CAT9', 'ROU', 'CAT9', 'Distillers, Vineries, & Breweries'),
 ('RUS', 'Russian Federation', 'Europe', 'Petrodvorets Watch Factory', 1721, 'CAT7', 'RUS', 'CAT7', 'Consumer Goods'),
 ('RWA', 'Rwanda', 'Africa', 'National Post Office', 1922, 'CAT16', 'RWA', 'CAT16', 'Postal Service'),
 ('SAU', 'Saudi Arabia', 'Asia', 'House of Alireza', 1845, 'CAT6', 'SAU', 'CAT6', 'Construction'),
 ('SDN', 'Sudan', 'Africa', 'Bank of Khartoum', 1913, 'CAT3', 'SDN', 'CAT3', 'Banking & Finance'),
 ('SEN', 'Senegal', 'Africa', 'Dakar–Niger Railway', 1924, 'CAT2', 'SEN', 'CAT2', 'Aviation & Transport'),
 ('SGP', 'Singapore', 'Asia', 'Singapore Post', 1819, 'CAT16', 'SGP', 'CAT16', 'Postal Service'),
 ('SLE', 'Sierra Leone', 'Africa', 'Rokel Commercial Bank', 1917, 'CAT3', 'SLE', 'CAT3', 'Banking & Finance'),
 ('SLV', 'El Salvador', 'North America', 'HSBC El Salvador', 1891, 'CAT3', 'SLV', 'CAT3', 'Banking & Finance'),
 ('SOM', 'Somalia', 'Africa', 'Radio Mogadishu', 1943, 'CAT13', 'SOM', 'CAT13', 'Media'),
 ('SRB', 'Serbia', 'Europe', 'Apatin Brewery', 1756, 'CAT9', 'SRB', 'CAT9', 'Distillers, Vineries, & Breweries'),
 ('SSD', 'South Sudan', 'Africa', 'Ivory Bank', 1994, 'CAT3', 'SSD', 'CAT3', 'Banking & Finance'),
 ('STP', 'Sao Tome and Principe', 'Africa', 'Central Bank of São Tomé and Príncipe', 1975, 'CAT3', 'STP', 'CAT3', 'Banking & Finance'),
 ('SVK', 'Slovakia', 'Europe', 'Kremnica Mint', 1328, 'CAT12', 'SVK', 'CAT12', 'Manufacturing & Production'),
 ('SVN', 'Slovenia', 'Europe', 'Gostilna Gastuž', 1467, 'CAT19', 'SVN', 'CAT19', 'Tourism & Hotels'),
 ('SWE', 'Sweden', 'Europe', 'Skyllbergs bruk', 1346, 'CAT12', 'SWE', 'CAT12', 'Manufacturing & Production'),
 ('SWZ', 'Eswatini', 'Africa', 'Swazi Rail', 1963, 'CAT2', 'SWZ', 'CAT2', 'Aviation & Transport'),
 ('SYC', 'Seychelles', 'Asia', 'Air Seychelles', 1977, 'CAT2', 'SYC', 'CAT2', 'Aviation & Transport'),
 ('SYR', 'Syrian Arab Republic', 'Asia', 'Bakdash', 1885, 'CAT4', 'SYR', 'CAT4', 'Cafes, Restaurants & Bars'),
 ('TCD', 'Chad', 'Africa', 'Cotontchad', 1971, 'CAT1', 'TCD', 'CAT1', 'Agriculture'),
 ('TGO', 'Togo', 'Africa', 'La Poste du Togo', 1883, 'CAT16', 'TGO', 'CAT16', 'Postal Service'),
 ('THA', 'Thailand', 'Asia', 'B.Grimm Group', 1878, 'CAT5', 'THA', 'CAT5', 'Conglomerate'),
 ('TTO', 'Trinidad and Tobago', 'North America', 'House of Angostura', 1830, 'CAT9', 'TTO', 'CAT9', 'Distillers, Vineries, & Breweries'),
 ('TUN', 'Tunisia', 'Africa', 'La Poste Tunisienne', 1847, 'CAT16', 'TUN', 'CAT16', 'Postal Service'),
 ('TUR', 'Turkey', 'Asia', 'Çemberlitaş Hamamı', 1584, 'CAT19', 'TUR', 'CAT19', 'Tourism & Hotels'),
 ('TWN', 'Taiwan, Province of China', 'Asia', 'Bank of Taiwan', 1897, 'CAT3', 'TWN', 'CAT3', 'Banking & Finance'),
 ('TZA', 'Tanzania, United Republic of', 'Africa', 'Tanzania Breweries Limited', 1933, 'CAT9', 'TZA', 'CAT9', 'Distillers, Vineries, & Breweries'),
 ('UGA', 'Uganda', 'Africa', 'Stanbic Bank Uganda Limited', 1906, 'CAT3', 'UGA', 'CAT3', 'Banking & Finance'),
 ('UKR', 'Ukraine', 'Europe', 'Drohobych salt plant', 1250, 'CAT12', 'UKR', 'CAT12', 'Manufacturing & Production'),
 ('URY', 'Uruguay', 'South America', 'Cafe Brasilero', 1877, 'CAT4', 'URY', 'CAT4', 'Cafes, Restaurants & Bars'),
 ('USA', 'United States', 'North America', 'Shirley Plantation', 1638, 'CAT1', 'USA', 'CAT1', 'Agriculture'),
 ('UZB', 'Uzbekistan', 'Asia', 'Tashkent Aviation Production Association', 1932, 'CAT12', 'UZB', 'CAT12', 'Manufacturing & Production'),
 ('VEN', 'Venezuela, Bolivarian Republic of', 'South America', 'Hacienda Chuao', 1660, 'CAT11', 'VEN', 'CAT11', 'Food & Beverages'),
 ('VNM', 'Viet Nam', 'Asia', 'Vietnam Railways', 1881, 'CAT2', 'VNM', 'CAT2', 'Aviation & Transport'),
 ('VUT', 'Vanuatu', 'Oceania', 'European Trust Company', 1991, 'CAT3', 'VUT', 'CAT3', 'Banking & Finance'),
 ('YEM', 'Yemen', 'Asia', 'Yemenia Airways', 1962, 'CAT2', 'YEM', 'CAT2', 'Aviation & Transport'),
 ('ZAF', 'South Africa', 'Africa', 'Premier FMCG', 1820, 'CAT12', 'ZAF', 'CAT12', 'Manufacturing & Production'),
 ('ZMB', 'Zambia', 'Africa', 'ZamPost', 1896, 'CAT16', 'ZMB', 'CAT16', 'Postal Service'),
 ('ZWE', 'Zimbabwe', 'Africa', 'Standard Chartered Zimbabwe', 1892, 'CAT3', 'ZWE', 'CAT3', 'Banking & Finance'),
 ('XK ', 'Kosovo', 'Europe', 'Meridian Corporation', 1999, 'CAT13', 'XK ', 'CAT13', 'Media')]